body{
 text-align: center;
}
.按鈕{
 border: solid 1px black;
 width: 100px;
 height: 100px;
 display: inline;
 font-size: 50px;
 color: #492B2D;
 background-color: #D76735;
}
h1{
  font-size: 90px;
  font-family: 標楷體;
}